/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container,
.contenedor,
.container2 {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h4 {
  color: #333;
}

/* Estilos para la sección de cálculo de IMC */
.uno {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.conten {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.conten h4 {
  font-weight: bold;
}


input[type="number"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px);
}

button {
  background-color: #0f0352;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #300f45;
}

/* Estilos para la sección de conversión de moneda */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilos para la aplicación de notas */
.notasContainer {
  display: flex;
  flex-direction: column;
}

.busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.real {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-bottom: 10px;

}

.real span {
  font-size: 1.2rem;
}

#filtroTexto {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.busqueda,
.notas,
.botones {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

#nota-titulo {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#listaNotas {
  margin-top: 20px;
  width: 100%;
}

/* Media queries para responsividad */
@media (max-width: 768px) {

  .conten,
  .notasContainer {
    width: 100%;
  }
}

#listaNotas {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.tarjeta-nota {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  min-height: 220px;
  background-size: cover;

}

.tarjeta-nota label {
  display: inline;
  margin-left: 20px;
  font-style: italic;
}

.tarjeta-nota h3 {
  margin-top: 20px;
}

#limpiar {
  background-color: #5b4ea8;
}

#limpiar:hover {
  background-color: #5b4ea84a;
}

.boton-borrar {
  background-color: #ca1111;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.boton-borrar:hover {
  background-color: #5d1313;
}